<br><br>
<br><br>
<div class="container text-center">
  <div class="row mt-4">
    <div class="col">
        <h5>Votre proposition à bien été envoyée à notre équipe pour validation. </h5>
        <h5>Vous recevrez un mail dès que celle-ci sera mise en ligne.</h5>
        <h5>En attendant n'hésitez pas à aller voter pour vos propositions préférées et faites évoluer votre ville !</h5>
        <%= link_to "Propositions de ma ville", city_path(@city) ,class: "btn btn-primary"%>
    </div>
  </div>
</div>
<br><br><br><br><br><br>