<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci d'avoir proposé une initiative sur Agora <%= @user.first_name %></h1>
   
<p> Avant de montrer ta proposition au monde entier nous devons vérifier quelle corresponde à notre chartre.</p>
<p> Nous reviendrons vers toi très vite pour te notifier de son acceptation ou non.
 <p>
      Pour accéder à ton compte, connecte-toi via : <%= link_to "Agora.com", @url %>
    </p>
    <p> À très vite sur Agora !</p>
  </body>
</html>