<div id='proposal-comments' class="row">
  <div class="col">
      <table class="table table-responsive text-wrap">
        <tbody>
          <% comments.each do |x| %>
            <%= render 'proposal_comment', x: x, proposal: proposal %>
          <%end%>
        </tbody>
      </table>
  </div>
</div>