<div class="container">
<div class="row mt-4">
    <div class="col">
        <h2>Merci pour ta proposition, ajoute lui une belle photo et ce sera complet :</h2>
    </div>
</div>
</div>
<div class="container">
  <div class="row align-items-center">
    <br>
    <div class="col-7">
      <%if @proposal.picture.attached?%>
        <%= image_tag(@proposal.picture, style: "width:100%") %>
      <%else%>
        <p>Mets ta belle image :)</p>
      <%end%>
      <%= form_tag proposal_pictures_path(@proposal), multipart: true do %>
        <%= file_field_tag :picture %>
        <%= submit_tag "Mettre à jour" %>
      <% end %>
    </div>
    <div class="col-5 order-first">
    </div>
  </div>
</div>