
<div class="col-md-12">
  <div class="card">
    <form id="TypeValidation" class="form-horizontal" action="proposals_path" method="CREATE">
      <div class="card-header card-header-text" data-background-color="default">
        <h4 class="card-title">Propose une initiative à <%= @cityname.name %></h4>
      </div>
      <div class="card-content">
        <div class="row">
          <label class="col-sm-2 label-on-left">Titre</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
            <label class="control-label" for="title">*</label>
            <input class="form-control" type="text" name="title" title="true" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Précisions</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
              <label class="control-label" for="purpose">*</label>
              <input class="form-control" type="text" name="purpose" purpose="true" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Ville</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
              <%= collection_select(:post, :city_id, City.all, :id, :name, prompt: true) %> 
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Categorie</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
              <%= collection_select(:post, :category_id, Category.all, :id, :name, prompt: true) %> 
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Détails</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
              <label class="control-label" for="description">*</label>
              <input class="form-control" type="text" name="description" description="true" />
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-2 label-on-left">Photo</label>
          <div class="col-sm-9">
            <div class="form-group label-floating">
             
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-default btn-fill">Créer Proposition</button>
        </div>
      </div>
    </form>
  </div>
</div>