<div  id='completed-proposals' class="container">
  <% if (@numthen == 0) && (@numvotes == 0) %>
    <div class='no-proposal'>
      <h3><b>Pas de proposition terminée à <%= city.name %> pour le moment. </b></h3>
      <br><br>
    </div>
  <%else%>
    <h3><b>Les propositions terminées :</b></h3>
    <div class="row">
      <div class="col">
        <div class="card box">
          <div class="card-content">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <% proposals.each do |x| %>
                    <% if (x.differencebetween == true) || (x.votes_count >= 5) %>
                      <%= render 'cities/completed_proposal', x: x %>
                    <%end%>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%end%>
</div>