<td class='vote-info text-center'>
  <%if user_signed_in?%>
    <% if is_current_user_owner_of?(x) %>
      <p class='text-muted' style='font-style: italic;'>Vous ne pouvez pas voter pour votre proposition !</p>
    <% elsif current_user_arent_the_proposal_city?(x) %>
      <p class='text-muted' style='font-style: italic;'>Vous ne pouvez pas voter pour les propositions en dehors de votre ville !</p>
    <% else %>
      <%if x.vote_of(current_user)%>
        <%= link_to "<i class='material-icons' style='font-size: 19px'>sentiment_satisfied_alt</i> A voté !".html_safe, city_proposal_vote_path(x.city.id, x.id, x.vote_of(current_user).id), :class => "btn btn-success btn-md", id: 'delete-btn', method: :delete, remote: true %>
      <%else%>
        <%= link_to "<i class='material-icons' style='font-size: 19px'>how_to_vote</i> Je vote".html_safe, city_proposal_votes_path(x.city.id, x.id), :class => "btn btn-primary btn-md", id: 'create-btn', method: :post, remote: true %>
      <%end%>
    <% end %>
  <%else%>
    <p>Connectez-vous pour pouvoir voter!</p>
  <%end%>
  <%if x.votes_count>1%>
    <h5> <%= x.votes_count %> VOTES</h5>
  <%else%>
    <h5> <%= x.votes_count %> VOTE</h5>
  <%end%>
</td>
