<p>Bonjour <%= @resource.email %>,</p>
<p>Tu as fait une demande pour changer ton mot de passe. Vas sur le lien suivant pour le modifier : </p>
<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Si tu ne veux pas changer de mot de passe, ignore ce message.</p>
<p>Ton mot de passe ne changera pas tant que les modifications n'auront pas été sauvegardées sur ce lien.</p>
<br>
<p>L'équipe Agora</p>

