<p>Salut <%= @resource.email %>!</p>
<p>Ton compte a été bloqué suite à un nombre trop important d'échec de connexion.</p>
<p>Clique sur le lien ci-dessous pour débloquer ton comtpe :</p>
<p><%= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token) %></p>
<br>
<p>L'équipe Agora</p>