<nav class="navbar navbar-primary">

  <div class="container-fluid">

    <div class="navbar-header navbar-left">
              <%= link_to image_tag("logo_smallv2.png", alt: "logo", style: "width:25%"), '/', class: 'navbar-brand logo-img'%>
      <a class="navbar-brand agora-dropdown font-navbar" href="#"></a>
    </div>

 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li class="dropdown city-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Villes disponibles <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <%City.all.each do |city|%>
          <li><%= link_to city.name, city_path(city.id) %></li>
            <%end%> 
          </ul>
        </li>
        
      <li class="city-dropdown"><a href="#">À propos d'Agora</a></li>
      </ul>
     
      
      <ul class="nav navbar-nav navbar-right">
       <form class="navbar-form navbar-left">
        <button type="submit" class="btn btn-info">Créer ma proposition</button>
      </form>
      <!--  <#% if user_signed_in? == true%> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenue <span class="caret"></span></a>
          <ul class="dropdown-menu">
            

            <!-- <li><#%= link_to "Mon profil", user_path(current_user.id), :class => "dropdown-item" %> </li> -->
            <li> <%= link_to "Se déconnecter", destroy_user_session_path, :class => "dropdown-item", method: :delete %></li>
        
          </ul>
        </li>
       <!--  <#% else %> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connexion/Inscription <span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="/users/sign_in">Se connecter</a></li>
            <li><a href="/users/sign_up">S'inscrire</a></li>
        
          </ul>
        </li>
      </ul>
     <!-- <#% end %> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  
</nav>

<script>
  $(document).ready(() => {
    $("#category").change(() => {
      let category_id = $("#category").val();
      
      let url = "/categories/" + category_id + "/items";
      

      const Http = new XMLHttpRequest();
      Http.open("GET", url, true);
      Http.send();

      Http.onreadystatechange = (e) => {
        result = Http.responseText;
        console.log(result);
        $('#items_container').remove(); 
        let items_container = $(result).filter('#items_container')[0];
        $('#category_selector').after(items_container);
      }
    });
  });
</script>
